In [1]:
import pandas as pd
import numpy as np
from scipy.spatial import distance

In [2]:
df = pd.read_csv('/Users/gatsu82/Master_Data_Science_Academy/02_ML/slides/notebooks/data/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
X_train = df[['Pclass', 'SibSp', 'Parch', 'Fare']]
Y_train = df['Survived']
X = X_train.values
Y = Y_train.values

In [4]:
def kNN(X,Y,n):
# Compute the distance matrix among all of the records
    dist_matrix = distance.cdist(X,X)
    y_pred = []
# for each record i delete the row i in the distance vector and target one.
# concatenate the two vector, order the obtained matrix and keeping just the first nths elements
    for i in range(len(Y)):
        x = np.delete(dist_matrix[i],i)
        y = np.delete(Y,i)
        xy = np.zeros((len(x),2))
        xy[:,0] = x
        xy[:,1] = y
        xy_sort = xy[np.argsort(xy[:, 0])]
        xy_selected = xy_sort[0:n]
# Extract just the unique values and evaluate the prediction by means the mojority vote.
# in caso of draw, take the category with the smallest distance 
        unique_value, counts = np.unique(xy_selected[:,1], return_counts=True)
        value_count = np.zeros((len(unique_value),2))
        value_count[:,0] = unique_value
        value_count[:,1] = counts
        value_count = value_count[np.argsort(value_count[:, 1])]
        value_count = value_count[::-1]
        if ( (len(counts) > 1) and (counts[0] == counts[1])):
            predizione = int(xy_selected[0,1])
            y_pred.append(predizione)
        else:
            predizione = int(value_count[0, 0])
            y_pred.append(predizione)
# transform the prediction vector as numpy array and return the accuracy
    y_pred = np.array(y_pred)
    accuracy = round(np.sum(y_pred == Y) / len(Y),2)
    return accuracy

In [5]:
accuracy = kNN(X,Y,4)
print(accuracy)

0.7

In [6]:
accuracy

0.7